body {
    background-color: rgba(245,240,230,0.5);
    padding-bottom: 20px;
    overflow-y: scroll;
}

/* NAVBAR */

#nav-bar .mui-dropdown button {
    background: rgba(0, 0, 0, 0.3)
}

#nav-bar .mui-dropdown__menu {
    left: 10px;
}

#nav-items-small { display: none; }

.mui-appbar > *, #nav-items-full > * {
    padding: 5px 10px;
    margin: 0px 5px;
    border-radius: 3px;
}

.dark a:hover { color: rgba(255,255,255,0.7) }
.mui-appbar.dark a:hover { background-color: rgba(255,255,255,0.1) }

.portrait-mini {
    height: 36px;
    border-radius: 50%;
}

input[type="radio"] {
    position: absolute;
    left: -1000px;
}

input[type="radio"]+label{
    cursor: pointer;
}

input[type="radio"]+label:hover {
    color: rgba(255,255,255,0.7) 
}

input[type="radio"]:checked+label{
    font-weight: 700;
}

#view {
    padding-top: 70px;
}

/* COVER LETTER */

#cover-letter a {
    cursor: pointer;
}

#cover-letter .mui-panel {
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    text-align: justify;
}

.flexparent.mui-tabs__bar {
    justify-content: space-around;
}

#cover-letter .mui-tabs__bar {
    margin-bottom: 20px;
}

#druid-link {
    cursor: pointer;
}

#druid-container {
    position: fixed;
    top: 101%;
    right: 10%;
    transition: top 500ms ease-in;
}

#druid-container #druid {
    height: 400px;
}

#druid-container.visible {
    top: calc(100% - 390px);
    transition: top 250ms ease-out;
}

/* RESUME */
.resume-content {
    align-items: stretch;
}

.resume-content .column-left {
    flex: 5 1 500px;
}

.resume-content .column-right {
    flex: 1 1 250px;
}

.resume-content .portrait-big {
    padding: 0px;
}

.resume-content .personal {
    margin-top: -55px;
}

.resume-content .personal h2 {
    margin-bottom: 22px;
    color: white;
}

.resume-content .skills td {
    white-space: nowrap;
}

.resume-content .portrait-big > div {
    padding: 15px;
}

.resume-content .portrait-big img {
    width: 100%;
}

.resume-content > * { flex-grow: 1; }
.mui-container h2 { margin-top: 0px; }

.criterium.primary.light {
    color: rgba(0,170,128,1);
    font-weight: 700;
}

table { font-size: 14px; width: 100%; }

table .criterium {
    font-weight: 400;
    padding-right: 25px;
}

.company { font-weight: 700; }

table, .job-container { padding-left: 10px; }
.job-container .criterium { padding-top: 15px; }
.job-container .criterium.first {padding-top: 0px; }
.job-container > p { margin-bottom: 5px; }
.job-container > p:last-child { margin-bottom: 15px; }

.rating {
    justify-content: flex-end;
}

.rating-circle {
    width: 10px;
    height: 10px;
    margin: 0px 1px;
    border-radius:50%;
}

.rating-circle.full {
    background-color: rgba(61,0,114,1);
}

.rating-circle.empty {
    background-color: rgba(61,0,114,0.2);
}

.skills > *:last-child {
    margin-bottom: 10px;
}

.other .job-container.first .criterium {
    padding-top: 0;
}

/* CONTACT */

#contact .mui-panel {
    padding-left: 30px;
    padding-right: 30px;
}

#contact textarea {
    height: 30%;
    resize: none;
}

#con-message-form label.error {
    width: auto;
    right: 0px;
    position: absolute;
    color: #F44336;
}

/* MODALS */
.modal {
    width: 300px;
    height: 200px;
    margin: 100px auto;
}

.modal.invis { display: none; }

.modal .mui-panel {
    position: relative;
    text-align: center;
    padding: 0px;
}

.modal p { padding: 20px; margin: 0px; }
.modal h3 { margin-top: 0px; }

.modal .modal-bar {
    position: relative;
    width: calc(100% - 20px);
    height: 28px;
    color: white;
    padding: 10px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);
}

#modal-success .modal-bar { background-color: rgba(0,170,128,1) }
#modal-failure .modal-bar { background-color: #F44336; }

.modal-bar i.material-icons {
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    right: 10px;
    top: 10px;
}

.material-icons.button { cursor: pointer; }
.material-icons.button:hover { color: rgba(255,255,255,0.7); }

/* FLEX CLASSES */
.flexparent { display: flex; flex-wrap: wrap; }
.flexfill { 
    flex-grow: 1; 
    margin: 0;
    padding: 0;
}
.no-wrap { flex-wrap: nowrap; }

/* LINKS */
a:hover {
    cursor: pointer;
    text-decoration: none;
}

.dark a { color: white; }
.dark .selected { font-weight: 700 }

/* MUI EXTENSION */
.mui-appbar {
    position: fixed;
    z-index: 1000;
    width: calc(100% - 60px);

    align-items: center;
    padding: 0 30px;
    margin-bottom: 10px;
    font-weight: 400;

    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
}

.mui-appbar.primary.dark { background-color: rgba(0, 60, 45, 1);    }

.mui-panel { 
    margin: 5px;
    margin-bottom: 10px;
}

body.mui-scroll-lock { overflow-y:scroll !important }

.mui-tabs__bar > li > a {
    padding-left: 12px;
    padding-right: 12px;
    height: 42px;
}

/* MEDIA */

@media (max-width: 767px) {
    #nav-items-small { display: flex; }
    #nav-items-full { display: none; }


    .resume-content.flexparent {
        flex-wrap: wrap-reverse;
    }

    .mui-appbar {
        padding: 0 5px;
        width: calc(100% - 10px);
    }

    #druid-container #druid {
        height: 300px;
        transition: height 500ms linear;
    }
    
    #druid-container.visible {
        top: calc(100% - 295px);
        bottom: 0px;
        transition: top 250ms ease-out;
    
    }

    .flexparent.cols-2 > * {
        flex: calc(100% - 40px) 0 0;
    }
}

@media (min-width: 768px) {
    .resume-content.flexparent {
        flex-wrap: nowrap;
    }
}