<div class="mui-container" id="cover-letter">
    <div class="mui-panel">

        <ul class="mui-tabs__bar flexparent">
            <li class="mui--is-active"><a data-mui-toggle="tab" data-mui-controls="cl-who-par" id="cl-who-header">Wer ich bin</a></li>
            <li><a data-mui-toggle="tab" data-mui-controls="cl-search-par" id="cl-search-header">Wonach ich suche</a></li>
            <li><a data-mui-toggle="tab" data-mui-controls="cl-offer-par" id="cl-offer-header">Was ich zu bieten habe</a></li>
        </ul>
        <div class="mui-tabs__pane mui--is-active" id="cl-who-par">Hallo! Mein Name ist Moritz Kobler. Ich bin Verschlinger epischer und düsterer Fantasy-Romane, <span id="druid-link">periodischer WOW-Zocker</span> und Amateur des klassischen Klaviers. Ich finde es extrem spannend zu erleben und dabei mitzuwirken, wie aus &bdquo;lediglich&ldquo; einer Idee ein ausgereiftes Produkt entstehen kann, dass Kunden begeistert und ihnen einen Mehrwert bringt. Gleichzeitig faszinieren mich neue Technologien und Entwicklungen - vor allem im Bereich der Datenverarbeitung und in der Mobilität. Sei es maschinelles Lernen, künstliche Intelligenz, elektrische Fahrzeuge oder autonomes Fahren.</div>
        <div class="mui-tabs__pane" id="cl-search-par">Im November letzten Jahres habe ich meine Masterarbeit im Bereich Innovationsmanagement abgegeben und damit mein Studium des Wirtschaftsingenieurwesens abgeschlossen. Ich suche jetzt nach einer Anstellung im Bereich des Produkt- oder Innovationsmanagements. Wichtig sind für mich ein ehrliches und transparentes Arbeitsumfeld, in dem Probleme direkt angesprochen und schnell aus dem Weg geräumt werden und eine rege und konstruktive Feedback-Kultur, damit ich mich sowohl für mich selbst, als auch für das Unternehmen, möglichst schnell verbessern und weiterentwickeln kann.</div>
        <div class="mui-tabs__pane" id="cl-offer-par">Während meiner Praktikantentätigkeit im SaaS-Bereich konnte ich bereits erste Erfahrungen in der Produktplanung und -entwicklung sammeln. Ich war hier für die Konzeption und die Ausarbeitung der Anforderungen einzelner Features verantwortlich. Im Rahmen meiner Masterarbeit implementierte ich dann meine eigene webbasierte Software und konnte mein während des Studium erworbenes Wissen über gängige Webtechnologien wie AngularJS und Python vertiefen. Ich legte dabei großen Fokus auf ein klares UI-Design sowie eine nutzerzentrierte Umsetzung. In meiner Werkstudententätigkeit im Startup-Umfeld konnte ich außerdem meine Teamfähigkeit, zuverlässige und selbstständige Arbeitsweise, Lernfähigkeit und generell ein ausgeprägtes analytisches Denken in einem interdisziplinären Team unter Beweis stellen. Eine meiner Aufgaben war es hier, Produktdaten zu analysieren und aufzubereiten, um unmittelbar verwertbare Informationen zu erschließen. Auch im Rahmen meiner Studienarbeiten setzte ich mich intensiv mit der Verarbeitung und Analyse großer Datenmengen und der damit verbundenen statistischen Methoden auseinander. So untersuchte ich für meine Bachelorarbeit Patente im Zusammenhang mit Weltraumtechnologien, um deren Reife prüfen. In meiner Masterarbeit, die ich bei einem Automobildienstleister schrieb, analysierte ich Onlinenachrichten mit Hilfe von Methoden der natürlichen Sprachverarbeitung und des maschinellen Lernens für die Umfeldbeobachtung im Bereich der Mobilität.</div>
    </div>
</div>
<div id="druid-container">
    <img id="druid" src="../img/druid.png">
</div>