<div class="mui-container" id="contact">
    <div class="mui-panel">
        <h2 id="con-header">Kontakt</h2>
        <form class="mui-form" id="con-message-form" method="POST">
            <div class="mui-textfield">
                <input id="warning-con-form-name"
                    type="text"
                    name="name"
                    required/>
                <label for="name" id="con-form-name">Name</label>
            </div>
            <div class="mui-textfield">
                <input id="warning-con-form-email"
                    type="email"
                    name="email"
                    required/>  
                <label for="email" id="con-form-email">E-Mail-Adresse</label>
            </div>
            <div class="mui-textfield">
                <textarea id="warning-con-form-message"
                    name="message"
                    required></textarea>
                <label for="message" id="con-form-message">Nachricht</label>
            </div>
            <button 
                class="mui-btn mui-btn--raised g-recaptcha"
                data-sitekey="6Lehcz8UAAAAAIClPZWPQSDvKgSEx-2RFkuCzs5N"
                id="con-form-submit">Abschicken</button>
        </form>
    </div>
    <div id="modal-success" class="modal invis">
        <div class="mui-panel">
            <div class="modal-bar">
                <i class="material-icons button" onclick="deactivateModal()">clear</i>
                <h3 id="con-modal-success-header">Erfolg!</h3>
            </div>
            <p id="con-modal-success-text">Die Nachricht wurde erfolgreich verschickt.</p>
        </div>
    </div>
    <div id="modal-failure" class="modal invis">
        <div class="mui-panel">
            <div class="modal-bar">
                <i class="material-icons button" onclick="deactivateModal()">clear</i>
                <h3 id="con-modal-failure-header">Fehler!</h3>
            </div>
            <p id="con-modal-failure-text">Entschuldigung! Etwas ist schiefgelaufen.</p>
        </div>
    </div>
</div>
<script src='https://www.google.com/recaptcha/api.js' async defer></script>