<div class="mui-container">
    <div class="flexparent resume-content">
        <div class="column-left">
            <div class="mui-panel">
                <h2 id="res-jobs-header">Berufliche Erfahrung</h2>
                <div>
                    <div class="job-container">
                        <p class="criterium primary light first" id="res-jobs-2-dates">April 2017 - September 2017</p>
                        <p class="company" id="res-jobs-2-company">IAV GmbH</p>
                        <p id="res-jobs-2-title">Tätigkeit: Masterand Innovationsmanagement</p>
                        <p id="res-jobs-2-tasks">Aufgaben: Implementierung einer Software zur Umfeldbeobachtung samt Web-Frontend und Backend zur Gewinnung und Verarbeitung der Daten &middot; Konzepterstellung und Planung &middot; Einbeziehen theoretischer Konzepte</p>
                    </div>
                    <div class="mui-divider"></div>
                    <div class="job-container">
                        <p class="criterium primary light" id="res-jobs-1-dates">Mai 2015 - August 2015</p>
                        <p class="company" id="res-jobs-1-company">bookingkit GmbH</p>
                        <p id="res-jobs-1-title">Tätigkeit: Praktikant Produktentwicklung</p>
                        <p id="res-jobs-1-tasks">Aufgaben: Ausarbeitung, Definition und Tests zukünftiger Features m SaaS-Bereich &middot; Datenbankarbeit, Datenanalyse und -aufbereitung und Aufstellung von relevanten KPIs</p>
                    </div>
                    <div class="mui-divider"></div>
                    <div class="job-container">
                        <p class="criterium primary light" id="res-jobs-0-dates">August 2014 - April 2015</p>
                        <p class="company" id="res-jobs-0-company">bookingkit GmbH</p>
                        <p id="res-jobs-0-title">Tätigkeit: Werkstudent Marketing und Kundenbetreuung</p>
                        <p id="res-jobs-0-tasks">Aufgaben: technischer Kundenservice im B2B-Bereich &middot; Betreuung u.a. der Webseite, des Blogs und des Newsletters &middot; graphische Arbeiten (sowohl Digitales als auch Print)</p>
                    </div> 
                </div>
            </div>
            <div class="mui-panel">
                <h2 id="res-ac-header">Akademische Laufbahn</h2>
                <div>
                    <div class="job-container">
                        <p class="criterium primary light first" id="res-ac-3-dates">September 2014 - Februar 2018</p>
                        <p class="company" id="res-ac-3-company">Technische Universität Berlin</p>
                        <p id="res-ac-3-studies">Studienfach: Wirtschaftsingenieurwesen mit Vertiefung Softwaretechnik</p>
                        <p id="res-ac-3-note">Masterarbeit über internetbasierte Identifizierung schwacher Signale am Beispiel Mobilität</p>
                        <p id="res-ac-3-grade">angestrebter Abschluss: Master (vorr. 1,4)</p>
                    </div>
                    <div class="mui-divider"></div>
                    <div class="job-container">
                        <p class="criterium primary light" id="res-ac-2-dates">September 2015 - Juni 2016</p>
                        <p class="company" id="res-ac-2-company">Lund University</p>
                        <p id="res-ac-2-studies">Studienfach: Informatik</p>
                        <p id="res-ac-2-note">Auslandsstudium im Rahmen des ERASMUS+ Programms</p>
                    </div>
                    <div class="mui-divider"></div>
                    <div class="job-container">
                        <p class="criterium primary light" id="res-ac-1-dates">September 2011 - August 2014</p>
                        <p class="company" id="res-ac-1-company">Technische Universität Berlin</p>
                        <p id="res-ac-1-studies">Studienfach: Wirtschaftsingenieurwesen mit Vertiefung Verkehrswesen</p>
                        <p id="res-ac-1-note">Bachelorarbeit über die Anwendung innovationsökonomischer Konzepte im Weltraumtourismus</p>
                        <p id="res-ac-1-grade">Abschluss: Bachelor (1,9)</p>
                    </div>
                    <div class="mui-divider"></div>
                    <div class="job-container">
                        <p class="criterium primary light" id="res-ac-0-dates">September 2008 - August 2010</p>
                        <p class="company" id="res-ac-0-company">John F. Kennedy Schule Berlin</p>
                        <p id="res-ac-0-grade">Abschluss: Abitur (1,1)</p>
                    </div> 
                </div>
            </div>
            <div class="mui-panel other">
                <h2 id="res-other-header">Sonstiges</h2>
                <h3 id="res-extra-header">Außeruniversitäres Engagement</h3>
                <div class="job-container first">
                    <p class="criterium primary light" id="res-extra-0-dates">September 2015 - Juni 2016</p>
                    <p class="company" id="res-extra-0-company">Sydsk&aring;nska Nationen</p>
                    <p id="res-extra-0-title">Tätigkeit: &bdquo;Förman&ldquo; der Organisation</p>
                    <p id="res-extra-0-tasks">Aufgaben: Organisation, Marketing und Durchführung von Veranstaltungen &middot; Teamleitung</p>
                </div>
                <h3 id="res-exp-header">Auslandserfahrung</h3>
                <div class="job-container first">
                    <p class="criterium primary light" id="res-exp-1-dates">September 2010 - August 2011</p>
                    <p class="tasks" id="res-exp-1-tasks">Auslandsaufenthalt in Australien (Working Holiday)</p>
                </div>
                <div class="mui-divider"></div>
                <div class="job-container">
                    <p class="criterium primary light" id="res-exp-0-dates">1991 - 2008</p>
                    <p class="tasks" id="res-exp-0-tasks">Mehrjährige Auslandsaufenthalte u.a. in Israel, Ägypten und Québec</p>
                </div>
            </div>
        </div>
        <div class="column-right">
            <div class="mui-panel portrait-big">
                <img src="../img/informal_3-4_big.compressed.png">
                <div class="personal">
                    <h2 id="res-pers-header">Persönliche Daten</h2>
                    <table>
                        <tr><td class="criterium primary light" id="res-pers-name">Name</td><td>Moritz Kobler</td></tr>
                        <tr><td class="criterium primary light" id="res-pers-bday">geboren am</td><td>18.06.1991</td></tr>
                    </table>
                </div>
            </div>
            <div class="mui-panel skills">
                <h2 id="res-skills-header">Fähigkeiten</h2>
                <h3 id="res-it-header">IT-Kenntnisse</h3>
                <table>
                    <tr>
                        <td class="criterium primary light">Microsoft Office Suite</td>
                        <td>
                            <div class="flexparent no-wrap rating">
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="criterium primary light">Microsoft PowerBI</td>
                        <td>
                            <div class="flexparent no-wrap rating">
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                                <div class="rating-circle empty"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="criterium primary light">MySQL &amp; MongoDB</td>
                        <td>
                            <div class="flexparent no-wrap rating">
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                                <div class="rating-circle empty"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="criterium primary light">Python &amp; MATLAB</td>
                        <td>
                            <div class="flexparent no-wrap rating">
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                                <div class="rating-circle empty"></div>
                                <div class="rating-circle empty"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="criterium primary light">Photoshop &amp; Sketch</td>
                        <td>
                            <div class="flexparent no-wrap rating">
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                                <div class="rating-circle empty"></div>
                                <div class="rating-circle empty"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="criterium primary light">HTML &amp; CSS &amp; JS</td>
                        <td>
                            <div class="flexparent no-wrap rating">
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                                <div class="rating-circle empty"></div>
                                <div class="rating-circle empty"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="criterium primary light">Java &amp; C++</td>
                        <td>
                            <div class="flexparent no-wrap rating">
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                                <div class="rating-circle empty"></div>
                                <div class="rating-circle empty"></div>
                                <div class="rating-circle empty"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="criterium primary light">Haskell</td>
                        <td>
                            <div class="flexparent no-wrap rating">
                                <div class="rating-circle full"></div>
                                <div class="rating-circle empty"></div>
                                <div class="rating-circle empty"></div>
                                <div class="rating-circle empty"></div>
                                <div class="rating-circle empty"></div>
                            </div>
                        </td>
                    </tr>
                </table>
                <h3 id="res-langs-header">Sprachen</h3>
                <table>
                    <tr>
                        <td class="criterium primary light" id="res-langs-4">Deutsch</td>
                        <td class="right">
                            <div class="flexparent no-wrap rating">
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="criterium primary light" id="res-langs-3">Englisch</td>
                        <td class="right">
                            <div class="flexparent no-wrap rating">
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="criterium primary light" id="res-langs-2">Französisch</td>
                        <td class="right">
                            <div class="flexparent no-wrap rating">
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                                <div class="rating-circle empty"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="criterium primary light" id="res-langs-1">Schwedisch</td>
                        <td class="right">
                            <div class="flexparent no-wrap rating">
                                <div class="rating-circle full"></div>
                                <div class="rating-circle full"></div>
                                <div class="rating-circle empty"></div>
                                <div class="rating-circle empty"></div>
                                <div class="rating-circle empty"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="criterium primary light" id="res-langs-0">Arabisch</td>
                        <td class="right">
                            <div class="flexparent no-wrap rating">
                                <div class="rating-circle full"></div>
                                <div class="rating-circle empty"></div>
                                <div class="rating-circle empty"></div>
                                <div class="rating-circle empty"></div>
                                <div class="rating-circle empty"></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>